{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{%static 'theblog/js/parallax.min.js' %}"></script>
      <style>
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
          
    ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.navbar-brand { 
    max-height: 40px;
    max-width: 30%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0px; 
}

.resizer{
    display: flex;
align-items: center;
justify-content: center;          
              
          }
      
.navbar-brand img {
  height: 50px;
  float: left;
padding-right: 15px;
padding-bottom: 5px;
}   
      
      </style>

    <title>{%block title%}
A Golden Fern {%endblock%}
      </title>
      <!-- Favicon -->
      <link rel="icon" href="{% static 'theblog/img/fern3.svg' %}">
  </head>
    
    
  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5" >

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand resizer" href="{%url 'home' %}"><span><img alt="Brand" src="{% static 'theblog/img/fern3.svg' %}" class="img-fluid" /></span>A Golden Fern</a>
    <ul class="navbar-nav mr-auto">
        
      <li class="nav-item dropdown">
        
        <a class="nav-link" href="{%url 'issue' %}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
          Issues
        </a>
          
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for issue in issue_menu %}
             
           <a class="dropdown-item" href="{%url 'issue-detail' issue.pk %}"> {{ issue.name }}</a>
                               <div class="dropdown-divider"></div>
                    
 
            {% endfor %}
             </div>
 

      </li>
        

                    
        <li class="nav-item">
        <a class="nav-link" href= "{%url 'submit' %}">Submit</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href= "{%url 'about' %}">About</a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href= "{%url 'add_post' %}">Add Post</a>
        </li>
        
        <li class="nav-item">
        <a class="nav-link" href= "{%url 'create_issue' %}">Create Issue</a>
        </li>

        
        <li class="nav-item">
        <a class="nav-link" href= "{%url 'logout' %}">Logout</a>
        </li>
        
        {%else%}
        
        {% endif %}

        
      
    </ul>
   
  </div>
</nav>

      
     
      <br/>
      <div class="container">
   {% block content%}
      {%endblock%}
      </div>

{%include 'footer.html'%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>