{%extends 'base.html'%}

{%block title%} 
Submit | A Golden Fern





{%endblock%}
{%block content%}
<h1 class="text-center">Submit</h1>


<p>We are currently accepting submissions for our Fall 2020 Issue. Please review the following guidelines to help your submission.</p>

<p>Please send submissions to <a href="mailto:agoldenfern@gmail.com">agoldenfern@gmail.com</a>. Include your name and genre within the heading of the email. Attach your work in a .pdf, .docx, or as a link to a Google Doc. Please do not include your submission within the body of your email in order to smoothen the submission process and ease formatting. </p>
<p>Submit a short biography written in the third person ranging from 10 to 75 words. This will help readers understand you and your work better. Feel free to include your social websites to promote your work. Bios will be published underneath the published work.</p>

<p>For fiction, we accept multiple submissions as long as the total submission word count does not exceed 3,000 words. 
For poetry, we suggest you submit about 3 poems per submission, but we may consider up to a maximum of eight poems or ten pages.</p>  

<p>Please wait 6 months after our response to send another submission.</p> 

<p>Please give us around 2 weeks before expecting a response. In the rare chance that we do not happen to respond, please send us a gentle reminder and we will get back to you.
We prefer previously unpublished work, but we may accept reprints on a case by case basis. Pieces posted on personal websites and social media are considered unpublished. </p>

<p>We allow simultaneous submissions, provided that you withdraw your submission upon publication by another journal. 
</p>
<p><b> What we look for:</b><br>
Evocative pieces that capture an essence of a moment or existence. Abstract and experiential. Bonds between nature and mankind. <a href="https://www.reddit.com/r/collectiveworks/comments/ga9mrq/contiguity_posturing_and_the_associative_cascade/">Associative cascades</a>. Explorations of the surreal and doors into other worlds. Feathery and unburdened words.
</p>

<p>We are an inclusive and diverse community and welcome works from all backgrounds and identities. You may use words from other languages in your piece, provided they are transliterated to the Latin alphabet. Translations need not be explicitly defined if they can be reasonably inferred from the work(although we do suggest you do so for clarity). </p>

<p>If violence is included in a piece, it must not be used gratuitously and should hold artistic value within the piece.</p>



<p>At this time, we are unable to compensate creators if their work gets published. We hope to change this policy if possible in the future.</p>

<p>If you happen to have a question or concern regarding one of the works published in the journal, please send us an email.</p>
{%endblock%}